:root {
  /* violet */
  --primary-color: 255, 0, 0;

  /* white */
  --text-color: 255, 0 , 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: white;
  padding: 1rem;
  text-align: center;
  background-image: url("../public/background.webp");
  background-color: black;
}

.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  margin: 1rem;
  width: 15%;
  min-width: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn:hover {
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  color: rgb(var(--text-color));
}

/* https://thegraph.com/en/ */
.btn-semi-transparent {
  background-color: rgba(var(--primary-color), 0.15);
  border: 1px solid rgba(var(--primary-color), 0.25);
  color: rgba(var(--text-color), 0.8);
}

.btn-semi-transparent:hover {
  background-color: rgba(var(--primary-color), 0.35);
  border: 1px solid rgba(var(--primary-color), 0.5);
  color: rgba(var(--text-color), 0.9);
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

/* https://sushi.com/ */
.btn-gradient {
  background-image: linear-gradient(to right, rgb(248, 10, 10), rgb(182 49 167));
  border: 0;
  color: rgba(var(--text-color));
}

/* https://sushi.com/ */
.btn-gradient-border {
  color: rgba(var(--text-color));
  border: 2px double transparent;
  background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(252, 177, 177), rgb(255, 0, 0));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.box {
  width: 300px;
  padding: 30px 40px;
  position:relative;
  margin-bottom: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid red;
  text-align: center;
  border-radius: 1em;
  background-color: black;
  opacity: 1;
}
.box:first-of-type{
  margin-top: 7%;
}

.box input[type = "text"] {
  padding: 0.7em;
  display: block;
  margin: 20px auto;
  text-align: left;
  font-size: 1em;
  font-weight: 3px;
  background: none;
  outline: none;
  color: #fff;
  transition: 0.25s;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid red;
}

.box input[type = "submit"] {
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 1em;
  display: block;
  margin: 20px auto 10px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: red;
  border: red;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 1em;
}

.inFormButton {
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em 1em;
  display: block;
  margin: 20px auto 10px;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: red;
  border: red;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 1em;
}

.box input[type = "file"] {
  padding: 0.7em;
  display: block;
  margin: 20px auto;
  text-align: left;
  font-size: 1em;
  font-weight: 3px;
  background: none;
  outline: none;
  color: #fff;
  transition: 0.25s;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid red;
}

ol {
  width:35%;
  padding: 30px 40px;
  position:relative;
  margin-top: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid red;
  text-align: center;
  border-radius: 1em;
  background-color: black;
  opacity: 1;
  margin-bottom: 100px;
}
ol li {
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  color: rgb(255, 139, 139);
  margin-left: 5%;
  margin-top: 3px;
}
li::marker {
  margin-left: 0;
}